.login-form {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  border: 1px solid;

  .login-button {
    width: 200px;
    align-self: center;
    margin: 10px;
  }
}
